doctype html
html
	head
		title= title
		script(src='/js/bundle.js')
		link(rel='stylesheet', href='/lib/css/bootstrap.paper.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='robots', content='noindex')
		meta(name='viewport', content='initial-scale=1')
	body
		nav.navbar.navbar-fixed-top
			.container
				a(href="/").navbar-brand Brotherhood of DSO
		.container-fluid
			block content
		footer
			.row
				.col-xs-12
					p.text-large &copy; Anonymous 2017
