#service-unavailable-modal.modal.fade
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				button(type="button", data-dismiss="modal", aria-label="Close").close
					span(aria-hidden="true")
						| &times;
				h5.modal-title Service Unavailable
			.modal-body
				p.text-xxlarge Sorry, this feature is currently unavailable.
			.modal-footer
				button(type="button", data-dismiss="modal").btn.btn-primary Close